* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    gap: 10px;
    margin: 10px;
    width: 80%;
    font-family:  'Cascadia Code', sans-serif;
}

#book-container h3 {
    font-weight: bold;
    font-size: 1.8rem;
}

#book-container p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
}

#new-book-btn, #show-books-btn, #submit-book-btn, #cancel-btn, .delete-book-btn, .change-read-btn, #save-read-status-btn, #cancel-read-status-btn {
    padding: 10px 10px;
    width: auto;
    max-width: 250px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 5px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

}



#new-book-btn:hover, #save-read-status-btn:hover {
    background-color: chartreuse;
    cursor: pointer;
    
}

.change-read-btn:hover {
    background-color: darkorange;
    cursor: pointer;
}

#new-book-dialog {
    width: 50%;
}

#change-read-status-dialog {
    padding: 13px;
    max-width: 400px;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    background-color: wheat;
    border: 0.5px solid black;
}

#new-book-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
}

#new-book-form label {
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

#new-book-form input {
    padding: 8px;
    width: 100%;
    font-size: 1.3rem;
}


#show-books-btn:hover {
    background-color: yellow;
    cursor: pointer;
}

#submit-book-btn:hover {
    background-color: yellowgreen;
    cursor: pointer;
}


#cancel-btn:hover, .delete-book-btn:hover, #cancel-read-status-btn:hover{
    background-color: crimson;
    cursor: pointer;

}

.book-card h3:first-of-type {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 1.3rem;
    text-align: center;
}

.book-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: beige;
    width: 350px;
}


